<div class="alert alert-dark" role="alert">
  Click on different chart to view.
  If chart is not visible, then refresh the page.
</div>

<div class="row">
  <div class="col-2">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" routerLink="line" role="tab" aria-controls="v-pills-home" aria-selected="true">Line Chart</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" routerLink="bar" role="tab" aria-controls="v-pills-profile" aria-selected="false">Bar Chart</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" routerLink="bubble" role="tab" aria-controls="v-pills-messages" aria-selected="false">Bubble Chart</a>
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" routerLink="radar" role="tab" aria-controls="v-pills-settings" aria-selected="false">Radar Chart</a>
    </div>
  </div>
  
</div>
<div class="row">
  <div class="col-2">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link " id="v-pills-home-tab" data-toggle="pill" routerLink="pie" role="tab" aria-controls="v-pills-home" aria-selected="true">Pie Chart</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" routerLink="doughnut" role="tab" aria-controls="v-pills-profile" aria-selected="false">Doughnut Chart</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" routerLink="polar" role="tab" aria-controls="v-pills-messages" aria-selected="false">Polar area chart </a>
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" routerLink="scatter" role="tab" aria-controls="v-pills-settings" aria-selected="false">Scatter chart</a>
    </div>
  </div>
</div>


<div class="render_space">
  <router-outlet></router-outlet>
</div>